@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.about {
  margin: 0%;
  background:url(images/about2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  position: absolute;
  height: 150vh;

  
}

h1 {
  color: #ffff;
  margin-top: 100px;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: "lato", sans-serif;
  line-height: 10rem;

}

footer {
  background-color: #286e77;
}

.help {
  bottom: 20px;
  right: 0;
  margin-right: 30px;
  position: fixed;
}

p {
  color: #286E77;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 14px;
  font-family: "open sans";
  font-style: italic;
  width: 30%;
  background-color: #fff;
  border-style: solid;
  border-color: #286E77;
  line-height: 2em;

}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  p {
    line-height: 1.5em;
    width: 60%;
  }

  .help {
    bottom: 20px;
    right: 0;
    margin-right: 10px;
    position: fixed;
    height: 25px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

  .help {
      bottom: 20px;
      right: 0;
      margin-right: 10px;
      position: fixed;
      height: 25px;
      }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  p {
    line-height: 1.7em;
    width: 60%;
  }
  
  .help {
    bottom: 20px;
    right: 0;
    margin-right: 10px;
    position: fixed;
    height: 30px;
    }
}





