@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #286e77;
}
h1 {
    color: white;
    display:flex;
    text-transform: uppercase;
    font-family: "lato";
    justify-content: right;
    font-size: 6rem;
    margin-top: 200px;
    text-align: right;
    line-height: 150px;
}


body {
    margin: 0%;
    background:url(images/IndexImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
}

footer {
  color: #286e77;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

h1 {
  font-size: 3rem;
  line-height: 75px;
  margin-top: 200px;
}

.help {
  bottom: 20px;
  right: 0;
  margin-right: 10px;
  position: fixed;
  height: 25px;
  }
  
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1124px) {

h1 {
  font-size: 4rem;
  line-height: 75px;
  margin-top: 200px;
}
.help {
  bottom: 20px;
  right: 0;
  margin-right: 10px;
  position: fixed;
  height: 30px;
  }
}


  
