@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
  margin-left: 20px;
}

nav {
  background-color: #286e77;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding-right: 50px;
  justify-content: center;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: lemonchiffon;
}

.icons {
  list-style: none;
}

.icons li {
  display: inline-block;
  justify-content: space-between;
  margin-right: 20px;
}

.icons li a {
  transition: all 0.3s ease 0s;
}

.icons li a:hover {
  color: lemonchiffon;
}

.index {
  background-image: url("IndexImage.png");
  background-repeat: none;
  width: 100%;
  min-height: 100vh;
}

h1 {
  color: #ffff;
  text-align: right;
  word-spacing: 9999rem;
  display: table-caption;
  margin-top: 100px;
  line-height: 10rem;
}

.slogan {
  display: flex;
  justify-content: right;
  font-size: 4rem;
  align-items: center;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
}

footer {
  background-color: #286e77;
}
